body{
	background-color: white;
}

a:link, a:visited{
	color: rgb(0, 29, 255);
	text-decoration: none;
	}
a:hover {
	color: rgb(74, 255, 0);
	text-decoration: none;
	}

a:active{
	color: rgb(255, 54, 235);
	text-decoration: none;
	}

.links-menu{
	width: 100%;
	text-align: center;
	bottom: 0;
	display: block;
	position: fixed;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 1rem;
}